.navbar {
  width: 40%;
  margin: auto;
  padding: 1rem 0 0;
  min-height: 18vh;
  border: 1px solid var(--gray-lightest);
  display: grid;
  grid-template-columns: 1fr;
  input {
    width: 95%;
    padding: 0.6rem;
    display: block;
    margin: 0 auto 0rem;
    border-radius: 50px;
    border: none;
    background-color: var(--gray);

    &:focus {
      border: 1px solid var(--color-primary);
      transition: all 0.3s ease;
      outline: none;
    }
  }
}

.nav__links {
  border-top: 1px solid var(--gray);
  display: flex;
  li {
    font-weight: 700;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    a {
      width: 100%;
      display: block;
      text-align: center;
      padding: 6px;
    }
    &:hover {
      background-color: var(--color-primary-hover);
      color: var(--color-primary);
      transition: all 0.3s ease;
    }
  }
}

@media (max-width: 1000px) {
  .navbar {
    width: 72%;
  }
}

@media (max-width: 600px) {
  .navbar {
    width: 100%;
  }
}
